<div id="about" class="col-md-12 fadeInUp">
    <div class="row">
        <div class="section first-section">
            <div class="page-title dashed">
                <h2>A propos de moi</h2>
            </div>
            <!-- Info -->
            <div class="col-md-12 pinfo text-center">
                <div class="col-md-12 about-info">
                    <ul class="info-list">
                        <li><i class="fa fa-user"></i> <span class="margL10">{{ param.name.value }}</span> </li>
                        <li><i class="fa fa-birthday-cake"></i> <span class="margL10">{{ param.birthday.value }}</span> </li>
                        <li><i class="fa fa-map-marker"></i> <span class="margL10">{{ param.ville.value }}</span> </li>
                        <li><i class="fa fa-briefcase"></i> <span class="margL10">{{ param.job.value }}</span> </li>
                        <li><i class="fa fa-globe"></i> <span class="margL10">{{ param.langues.value }}</span> </li>
                        <li><i class="fa fa-trophy"></i> <span class="margL10">{{ param.hobbies.value }}</span> </li>
                    </ul>
                </div>
                {% if param.cv_url.value is not null %}
                    <a href="{{ param.cv_url.value }}" style="text-align: center" target="_blank" class="but-big col-sm-4 col-sm-offset-4 margT10">Télécharger mon CV</a>
                {% endif %}
            </div>
        </div>

        <div class="section">
            <div class="col-md-12 ptext">
                <div class="col-md-12 about-text">
                    <h2 class="section-title">{{ param.subtitle.value }}</h2>
                    <p>{{ param.description.value|raw }}</p>
                </div>
            </div>
        </div>
        {% include 'AppBundle:Default:footer.html.twig' %}
    </div>
</div>